{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-ex1-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <span
                class="glyphicon glyphicon-grain text-primary"
                aria-hidden="true"
                >Maizi</span
              >
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Welcome {{ user.username }}</a></li>
              <li><a href="{% url 'polls:logout' %}">登出</a></li>
            </ul>

            {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="{% url 'polls:register' %}">注册</a></li>
              <li><a href="{% url 'polls:login' %}">登录</a></li>
            </ul>

            {% endif %}
          </div>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
      </nav>
    </header>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Question: {{ question.question_text }}</h3>
            {% if error_messsage %}

            <div class="alert alert-danger">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true"
              >
                &times;
              </button>
              <strong>Error!</strong>
              <p><strong>{{ error_message }}</strong></p>
            </div>

            {% endif %}

            <form method="POST" role="form">
              {% csrf_token %}
              <!-- <legend>vote</legend> -->

              <div class="form-group">
                {% for choice in question.choice_set.all %}

                <div class="radio">
                  <label>
                    <input
                      type="radio"
                      name="choice"
                      id="choice{{ forloop.counter }}"
                      value="{{ choice.id }}"
                    />
                    {{ choice.choice_text }}
                  </label>
                </div>

                {% endfor %}
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'polls/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  </body>
</html>
