{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-ex1-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <span
                class="glyphicon glyphicon-grain text-primary"
                aria-hidden="true"
                >Maizi</span
              >
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Welcome {{ user.username }}</a></li>
              <li><a href="{% url 'polls:logout' %}">登出</a></li>
            </ul>

            {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="{% url 'polls:register' %}">注册</a></li>
              <li><a href="{% url 'polls:login' %}">登录</a></li>
            </ul>

            {% endif %}
          </div>
          <!-- /.navbar-collapse -->
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
      </nav>
    </header>

    <section id="content">
      <div class="container">
        <div class="row">
          <h3>Register</h3>

          <form method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">name</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Input username"
              />
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                required="required"
                placeholder="Input password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>

    <script src="{% static 'polls/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  </body>
</html>
